@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
  font-family: "Mukta", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(247, 244, 241);
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid{
  display: grid;
  align-items: center;
  justify-content: center;
}
.btn{
  border: none;
  
}
